################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CodePractice/.vs/CodePractice
/CodePractice/CodePractice/bin/*
/CodePractice/CodePractice/obj
/CodePractice/Tests/obj
/CodePractice/Tests/bin/*
/CodePractice/packages
/CodePractice/Tests/bin/*
*.xml
*.iml
*.exe
*.dll
